In [1]:
# Initial imports
import pandas as pd
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Read in CSV
test_data = pd.read_csv('Resources\loan-test.csv')
train_data = pd.read_csv('Resources\loan-train.csv')

In [3]:
# Make df
test_df = pd.DataFrame(test_data)
train_df = pd.DataFrame(train_data)

In [4]:
# Initial test_df length
len(test_df.index)

367

In [5]:
# Initial train_df length
len(train_df.index)

614

In [6]:
# Drop null values
clean_test_df = test_df.dropna(axis=0, how='any')
clean_train_df = train_df.dropna(axis=0, how='any')

In [7]:
# Convert Loan_Status where No = 1 and Yes = 0
clean_train_df.Loan_Status[clean_train_df.Loan_Status == 'N'] = 1
clean_train_df.Loan_Status[clean_train_df.Loan_Status == 'Y'] = 0

C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\1959091147.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Loan_Status[clean_train_df.Loan_Status == 'N'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\1959091147.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Loan_Status[clean_train_df.Loan_Status == 'N'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\1959091147.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Loan_Status[clean_train_df.Loan_Status == 'Y'] = 0
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\1959091147.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Loan_Status[clean_train_df.Loan_Status == 'Y'] = 0

In [8]:
# Convert Gender where Male = 1 and Female = 0
clean_train_df.Gender[clean_train_df.Gender == 'Male'] = 1
clean_train_df.Gender[clean_train_df.Gender == 'Female'] = 0

C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2412803624.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Gender[clean_train_df.Gender == 'Male'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2412803624.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Gender[clean_train_df.Gender == 'Male'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2412803624.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Gender[clean_train_df.Gender == 'Female'] = 0
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2412803624.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Gender[clean_train_df.Gender == 'Female'] = 0

In [9]:
# Convert Married where No = 1 and Yes = 0
clean_train_df.Married[clean_train_df.Married == 'No'] = 1
clean_train_df.Married[clean_train_df.Married == 'Yes'] = 0

C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\1401551133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Married[clean_train_df.Married == 'No'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\1401551133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Married[clean_train_df.Married == 'No'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\1401551133.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Married[clean_train_df.Married == 'Yes'] = 0
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\1401551133.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Married[clean_train_df.Married == 'Yes'] = 0

In [10]:
# Convert Education where Not Graduate = 1 and Graduate = 0
clean_train_df.Education[clean_train_df.Education == 'Not Graduate'] = 1
clean_train_df.Education[clean_train_df.Education == 'Graduate'] = 0

C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2240541355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Education[clean_train_df.Education == 'Not Graduate'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2240541355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Education[clean_train_df.Education == 'Not Graduate'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2240541355.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Education[clean_train_df.Education == 'Graduate'] = 0
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2240541355.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Education[clean_train_df.Education == 'Graduate'] = 0

In [11]:
# Convert Self_Employed where No = 1 and Yes = 0
clean_train_df.Self_Employed[clean_train_df.Self_Employed == 'No'] = 1
clean_train_df.Self_Employed[clean_train_df.Self_Employed == 'Yes'] = 0

C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2768909035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Self_Employed[clean_train_df.Self_Employed == 'No'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2768909035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Self_Employed[clean_train_df.Self_Employed == 'No'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2768909035.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Self_Employed[clean_train_df.Self_Employed == 'Yes'] = 0
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2768909035.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Self_Employed[clean_train_df.Self_Employed == 'Yes'] = 0

In [12]:
# Convert Dependents "3+" to just "3"
clean_train_df.Dependents[clean_train_df.Dependents == '3+'] = '3'

C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2016453375.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Dependents[clean_train_df.Dependents == '3+'] = '3'
C:\Users\jack.f\AppData\Local\Temp\ipykernel_19304\2016453375.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Dependents[clean_train_df.Dependents == '3+'] = '3'

In [13]:
clean_train_df['Property_Area'].unique()

array(['Rural', 'Urban', 'Semiurban'], dtype=object)

In [14]:
# Use get_dummies to convert Property_Area to int
clean_train_df = pd.get_dummies(clean_train_df,
                            columns=['Property_Area'], dtype=int)

In [15]:
# Drop one of the get_dummies and Loan_ID columns
clean_train_df = clean_train_df.drop(columns = ['Property_Area_Semiurban', 'Loan_ID'])

In [16]:
# clean_test_df length
len(clean_test_df.index)

289

In [17]:
# clean_train_df length
len(clean_train_df.index)

480

In [18]:
clean_train_df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Property_Area_Rural,Property_Area_Urban
1,1,0,1,0,1,4583,1508.0,128.0,360.0,1.0,1,1,0
2,1,0,0,0,0,3000,0.0,66.0,360.0,1.0,0,0,1
3,1,0,0,1,1,2583,2358.0,120.0,360.0,1.0,0,0,1
4,1,1,0,0,1,6000,0.0,141.0,360.0,1.0,0,0,1
5,1,0,2,0,0,5417,4196.0,267.0,360.0,1.0,0,0,1

In [19]:
# Define features set
X = clean_train_df.copy()
X.drop("Loan_Status", axis=1, inplace=True)
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area_Rural,Property_Area_Urban
1,1,0,1,0,1,4583,1508.0,128.0,360.0,1.0,1,0
2,1,0,0,0,0,3000,0.0,66.0,360.0,1.0,0,1
3,1,0,0,1,1,2583,2358.0,120.0,360.0,1.0,0,1
4,1,1,0,0,1,6000,0.0,141.0,360.0,1.0,0,1
5,1,0,2,0,0,5417,4196.0,267.0,360.0,1.0,0,1

In [20]:
clean_train_df['Dependents'].unique()

array(['1', '0', '2', '3'], dtype=object)

In [27]:
# Define target vector
y = clean_train_df["Loan_Status"].values.reshape(-1, 1)
y = y.astype('int')
y[:5]

array([[1],
       [0],
       [0],
       [0],
       [0]])

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=13)

In [29]:
# Scale data
# Create the StandardScaler instance
scaler = StandardScaler()

# Fit the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

# Scale the training data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [30]:
# Create the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [32]:
# Fit the model from decision tree classifier
model = model.fit(X_train_scaled, y_train)

In [33]:
# Making predictions using the testing data from decision tree classifier
predictions = model.predict(X_test_scaled)

In [34]:
# Calculating the confusion matrix for decision tree classifier
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [35]:
# Displaying results of decision tree classifier
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           65           15
Actual 1           18           22

Accuracy Score : 0.725
Classification Report
              precision    recall  f1-score   support

           0       0.78      0.81      0.80        80
           1       0.59      0.55      0.57        40

    accuracy                           0.73       120
   macro avg       0.69      0.68      0.68       120
weighted avg       0.72      0.72      0.72       120

In [65]:
# Remaking model with SVC
from sklearn.svm import SVC 
model_2 = SVC(kernel='linear')
model_2 = model_2.fit(X_train_scaled, y_train)

C:\Users\jack.f\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [62]:
# Making predictions using the testing data from SVC model
predictions_2 = model_2.predict(X_test_scaled)

In [63]:
# Calculating the confusion matrix for SVC
cm_2 = confusion_matrix(y_test, predictions_2)
cm_2_df = pd.DataFrame(
    cm_2, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score_2 = accuracy_score(y_test, predictions_2)

In [64]:
# Displaying results of decision tree classifier
print("Confusion Matrix")
display(cm_2_df)
print(f"Accuracy Score : {acc_score_2}")
print("Classification Report")
print(classification_report(y_test, predictions_2))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           79            1
Actual 1           24           16

Accuracy Score : 0.7916666666666666
Classification Report
              precision    recall  f1-score   support

           0       0.77      0.99      0.86        80
           1       0.94      0.40      0.56        40

    accuracy                           0.79       120
   macro avg       0.85      0.69      0.71       120
weighted avg       0.83      0.79      0.76       120

In [70]:
# Remaking model with Logistic Regression
from sklearn.linear_model import LogisticRegression
model_3 = LogisticRegression(solver='liblinear', random_state=1)
model_3 = model_3.fit(X_train_scaled, y_train)

C:\Users\jack.f\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [71]:
# Making predictions using the testing data from logistic regression
predictions_3 = model_3.predict(X_test_scaled)

In [72]:
# Calculating the confusion matrix for logistic regression
cm_3 = confusion_matrix(y_test, predictions_3)
cm_3_df = pd.DataFrame(
    cm_3, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score_3 = accuracy_score(y_test, predictions_3)

In [73]:
# Displaying results of logistic regression
print("Confusion Matrix")
display(cm_3_df)
print(f"Accuracy Score : {acc_score_3}")
print("Classification Report")
print(classification_report(y_test, predictions_3))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           78            2
Actual 1           25           15

Accuracy Score : 0.775
Classification Report
              precision    recall  f1-score   support

           0       0.76      0.97      0.85        80
           1       0.88      0.38      0.53        40

    accuracy                           0.78       120
   macro avg       0.82      0.68      0.69       120
weighted avg       0.80      0.78      0.74       120

In [98]:
# Remaking model with KNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier
model_4 = KNeighborsClassifier(n_neighbors=9)
model_4 = model_4.fit(X_train_scaled, y_train)

C:\Users\jack.f\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [99]:
# Making predictions using the testing data from KNeighborsClassifier
predictions_4 = model_4.predict(X_test_scaled)

C:\Users\jack.f\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [100]:
# Calculating the confusion matrix for logistic regression
cm_4 = confusion_matrix(y_test, predictions_4)
cm_4_df = pd.DataFrame(
    cm_4, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score_4 = accuracy_score(y_test, predictions_4)

In [101]:
# Displaying results of logistic regression
print("Confusion Matrix")
display(cm_4_df)
print(f"Accuracy Score : {acc_score_4}")
print("Classification Report")
print(classification_report(y_test, predictions_4))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           78            2
Actual 1           25           15

Accuracy Score : 0.775
Classification Report
              precision    recall  f1-score   support

           0       0.76      0.97      0.85        80
           1       0.88      0.38      0.53        40

    accuracy                           0.78       120
   macro avg       0.82      0.68      0.69       120
weighted avg       0.80      0.78      0.74       120