In [16]:
# Initial imports
import pandas as pd
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [17]:
# Read in CSV
test_data = pd.read_csv('Resources\loan-test.csv')
train_data = pd.read_csv('Resources\loan-train.csv')

In [18]:
# Make df
test_df = pd.DataFrame(test_data)
train_df = pd.DataFrame(train_data)

In [19]:
# Initial test_df length
len(test_df.index)

367

In [20]:
# Initial train_df length
len(train_df.index)

614

In [21]:
# Drop null values
clean_test_df = test_df.dropna(axis=0, how='any')
clean_train_df = train_df.dropna(axis=0, how='any')

In [22]:
# Convert Loan_Status where No = 1 and Yes = 0
clean_train_df.Loan_Status[clean_train_df.Loan_Status == 'N'] = 1
clean_train_df.Loan_Status[clean_train_df.Loan_Status == 'Y'] = 0

C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2269164661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Loan_Status[clean_train_df.Loan_Status == 'N'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2269164661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Loan_Status[clean_train_df.Loan_Status == 'N'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2269164661.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Loan_Status[clean_train_df.Loan_Status == 'Y'] = 0
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2269164661.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Loan_Status[clean_train_df.Loan_Status == 'Y'] = 0

In [29]:
# Convert Gender where Male = 1 and Female = 0
clean_train_df.Gender[clean_train_df.Gender == 'Male'] = 1
clean_train_df.Gender[clean_train_df.Gender == 'Female'] = 0

C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2412803624.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Gender[clean_train_df.Gender == 'Male'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2412803624.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Gender[clean_train_df.Gender == 'Male'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2412803624.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Gender[clean_train_df.Gender == 'Female'] = 0
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2412803624.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Gender[clean_train_df.Gender == 'Female'] = 0

In [33]:
# Convert Married where No = 1 and Yes = 0
clean_train_df.Married[clean_train_df.Married == 'No'] = 1
clean_train_df.Married[clean_train_df.Married == 'Yes'] = 0

C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\1401551133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Married[clean_train_df.Married == 'No'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\1401551133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Married[clean_train_df.Married == 'No'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\1401551133.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Married[clean_train_df.Married == 'Yes'] = 0
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\1401551133.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Married[clean_train_df.Married == 'Yes'] = 0

In [38]:
# Convert Education where Not Graduate = 1 and Graduate = 0
clean_train_df.Education[clean_train_df.Education == 'Not Graduate'] = 1
clean_train_df.Education[clean_train_df.Education == 'Graduate'] = 0

C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2240541355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Education[clean_train_df.Education == 'Not Graduate'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2240541355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Education[clean_train_df.Education == 'Not Graduate'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2240541355.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Education[clean_train_df.Education == 'Graduate'] = 0
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2240541355.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Education[clean_train_df.Education == 'Graduate'] = 0

In [42]:
# Convert Self_Employed where No = 1 and Yes = 0
clean_train_df.Self_Employed[clean_train_df.Self_Employed == 'No'] = 1
clean_train_df.Self_Employed[clean_train_df.Self_Employed == 'Yes'] = 0

C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2768909035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Self_Employed[clean_train_df.Self_Employed == 'No'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2768909035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Self_Employed[clean_train_df.Self_Employed == 'No'] = 1
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2768909035.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Self_Employed[clean_train_df.Self_Employed == 'Yes'] = 0
C:\Users\jack.f\AppData\Local\Temp\ipykernel_15892\2768909035.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_train_df.Self_Employed[clean_train_df.Self_Employed == 'Yes'] = 0

In [43]:
# clean_test_df length
len(clean_test_df.index)

289

In [44]:
# clean_train_df length
len(clean_train_df.index)

480

In [45]:
clean_train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,0,1,0,1,4583,1508.0,128.0,360.0,1.0,Rural,1
2,LP001005,1,0,0,0,0,3000,0.0,66.0,360.0,1.0,Urban,0
3,LP001006,1,0,0,1,1,2583,2358.0,120.0,360.0,1.0,Urban,0
4,LP001008,1,1,0,0,1,6000,0.0,141.0,360.0,1.0,Urban,0
5,LP001011,1,0,2,0,0,5417,4196.0,267.0,360.0,1.0,Urban,0

In [37]:
# Define features set
X = clean_train_df.copy()
X.drop("Loan_Status", axis=1, inplace=True)
X.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,LP001003,1,0,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,LP001005,1,0,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,LP001006,1,0,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,LP001008,1,1,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban
5,LP001011,1,0,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban

In [27]:
# Define target vector
y = clean_train_df["Loan_Status"].values.reshape(-1, 1)
y[:5]

array([[1],
       [0],
       [0],
       [0],
       [0]], dtype=object)

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=13)