## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import keras_tuner as kt
import numpy as np

In [2]:
# read the loan data

loan_df = pd.read_csv("loan-train.csv")
loan_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
loan_cleaned_df = loan_df.dropna(axis=0, how='any')
loan_cleaned_df.head()
loan_cleaned_df.shape

(480, 13)

In [4]:
# Drop the non-beneficial ID columns, 'Loan_ID' 
loan_cleaned_df = loan_cleaned_df.drop(columns=['Loan_ID'])
loan_cleaned_df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [5]:
# Determine the number of unique values in each column.
loan_cleaned_df.nunique()

Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      405
CoapplicantIncome    232
LoanAmount           186
Loan_Amount_Term       9
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

In [6]:
# Determine the number of unique values in each column.
loan_cleaned_df.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [7]:
# Convert categorical data to numeric with `pd.get_dummies`

loan_df_numeric = pd.get_dummies(loan_cleaned_df, 
                            columns=['Gender','Married','Dependents',
                                     'Education','Self_Employed','Property_Area',
                                     'Loan_Status'], dtype=int)

loan_df_numeric.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,...,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_N,Loan_Status_Y
1,4583,1508.0,128.0,360.0,1.0,0,1,0,1,0,...,0,1,0,1,0,1,0,0,1,0
2,3000,0.0,66.0,360.0,1.0,0,1,0,1,1,...,0,1,0,0,1,0,0,1,0,1
3,2583,2358.0,120.0,360.0,1.0,0,1,0,1,1,...,0,0,1,1,0,0,0,1,0,1
4,6000,0.0,141.0,360.0,1.0,0,1,1,0,1,...,0,1,0,1,0,0,0,1,0,1
5,5417,4196.0,267.0,360.0,1.0,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,1

In [8]:
loan_df_numeric.shape

(480, 22)

In [9]:
loan_df_numeric.rename(columns = {'Loan_Status_Y':'Loan_Status'}, inplace = True)
loan_df_numeric=loan_df_numeric.drop(columns='Loan_Status_N')

loan_df_numeric.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,...,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status
1,4583,1508.0,128.0,360.0,1.0,0,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
2,3000,0.0,66.0,360.0,1.0,0,1,0,1,1,...,0,0,1,0,0,1,0,0,1,1
3,2583,2358.0,120.0,360.0,1.0,0,1,0,1,1,...,0,0,0,1,1,0,0,0,1,1
4,6000,0.0,141.0,360.0,1.0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,1,1
5,5417,4196.0,267.0,360.0,1.0,0,1,0,1,0,...,1,0,1,0,0,1,0,0,1,1

In [10]:
# Split our preprocessed data into our features and target arrays
y = loan_df_numeric['Loan_Status'].values
X = loan_df_numeric.drop(columns='Loan_Status').values
print(X.shape)

(480, 20)

In [11]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [45]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="elu", input_dim=20))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="elu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                1680

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 4,141
Trainable params: 4,141
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [47]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
12/12 [==============================] - 1s 3ms/step - loss: 0.6586 - accuracy: 0.6333
Epoch 2/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5377 - accuracy: 0.7639
Epoch 3/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4877 - accuracy: 0.8000
Epoch 4/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4579 - accuracy: 0.8194
Epoch 5/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4522 - accuracy: 0.8194
Epoch 6/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4451 - accuracy: 0.8194
Epoch 7/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4380 - accuracy: 0.8250
Epoch 8/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4376 - accuracy: 0.8278
Epoch 9/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4347 - accuracy: 0.8306
Epoch 10/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4344 - accuracy: 0.8222
Epoch 11/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4272 - accuracy: 0.8194
Epoch 12/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4280 - accuracy: 0.8306
Epoch 13/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4258 - accuracy: 0.8333
Epoch 14/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4219 - accuracy: 0.8333
Epoch 15/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4180 - accuracy: 0.8250
Epoch 16/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4154 - accuracy: 0.8278
Epoch 17/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4159 - accuracy: 0.8333
Epoch 18/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4125 - accuracy: 0.8389
Epoch 19/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4097 - accuracy: 0.8306
Epoch 20/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4065 - accuracy: 0.8333
Epoch 21/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4010 - accuracy: 0.8417
Epoch 22/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3989 - accuracy: 0.8389
Epoch 23/100
12/12 [==============================] - 0s 5ms/step - loss: 0.4010 - accuracy: 0.8333
Epoch 24/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3967 - accuracy: 0.8389
Epoch 25/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3924 - accuracy: 0.8417
Epoch 26/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3888 - accuracy: 0.8444
Epoch 27/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3870 - accuracy: 0.8500
Epoch 28/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3861 - accuracy: 0.8500
Epoch 29/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3843 - accuracy: 0.8472
Epoch 30/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3781 - accuracy: 0.8417
Epoch 31/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3767 - accuracy: 0.8472
Epoch 32/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3736 - accuracy: 0.8500
Epoch 33/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3745 - accuracy: 0.8444
Epoch 34/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3716 - accuracy: 0.8500
Epoch 35/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3655 - accuracy: 0.8556
Epoch 36/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3648 - accuracy: 0.8556
Epoch 37/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3644 - accuracy: 0.8556
Epoch 38/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3587 - accuracy: 0.8556
Epoch 39/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3561 - accuracy: 0.8583
Epoch 40/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3574 - accuracy: 0.8528
Epoch 41/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3525 - accuracy: 0.8639
Epoch 42/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3516 - accuracy: 0.8639
Epoch 43/100
12/12 [==============================] - 0s 6ms/step - loss: 0.3504 - accuracy: 0.8556
Epoch 44/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3508 - accuracy: 0.8611
Epoch 45/100
12/12 [==============================] - 0s 7ms/step - loss: 0.3456 - accuracy: 0.8583
Epoch 46/100
12/12 [==============================] - 0s 6ms/step - loss: 0.3438 - accuracy: 0.8639
Epoch 47/100
12/12 [==============================] - 0s 5ms/step - loss: 0.3411 - accuracy: 0.8667
Epoch 48/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3403 - accuracy: 0.8667
Epoch 49/100
12/12 [==============================] - 0s 6ms/step - loss: 0.3389 - accuracy: 0.8583
Epoch 50/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3331 - accuracy: 0.8694
Epoch 51/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3339 - accuracy: 0.8750
Epoch 52/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3354 - accuracy: 0.8750
Epoch 53/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3302 - accuracy: 0.8778
Epoch 54/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3291 - accuracy: 0.8667
Epoch 55/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3291 - accuracy: 0.8722
Epoch 56/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3249 - accuracy: 0.8667
Epoch 57/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3243 - accuracy: 0.8722
Epoch 58/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3212 - accuracy: 0.8806
Epoch 59/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3182 - accuracy: 0.8722
Epoch 60/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3164 - accuracy: 0.8778
Epoch 61/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3171 - accuracy: 0.8750
Epoch 62/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3196 - accuracy: 0.8750
Epoch 63/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3128 - accuracy: 0.8778
Epoch 64/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3086 - accuracy: 0.8833
Epoch 65/100
12/12 [==============================] - 0s 4ms/step - loss: 0.3124 - accuracy: 0.8806
Epoch 66/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3106 - accuracy: 0.8806
Epoch 67/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3079 - accuracy: 0.8750
Epoch 68/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3056 - accuracy: 0.8889
Epoch 69/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3052 - accuracy: 0.8861
Epoch 70/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3025 - accuracy: 0.8778
Epoch 71/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3031 - accuracy: 0.8889
Epoch 72/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3018 - accuracy: 0.8750
Epoch 73/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2972 - accuracy: 0.8778
Epoch 74/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2967 - accuracy: 0.8889
Epoch 75/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2937 - accuracy: 0.8917
Epoch 76/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2985 - accuracy: 0.8806
Epoch 77/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2945 - accuracy: 0.8889
Epoch 78/100
12/12 [==============================] - 0s 4ms/step - loss: 0.2930 - accuracy: 0.8889
Epoch 79/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2917 - accuracy: 0.8889
Epoch 80/100
12/12 [==============================] - 0s 4ms/step - loss: 0.2920 - accuracy: 0.8806
Epoch 81/100
12/12 [==============================] - 0s 4ms/step - loss: 0.2921 - accuracy: 0.8833
Epoch 82/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2840 - accuracy: 0.9000
Epoch 83/100

12/12 [==============================] - 0s 4ms/step - loss: 0.2833 - accuracy: 0.8917
Epoch 84/100
12/12 [==============================] - 0s 4ms/step - loss: 0.2862 - accuracy: 0.8833
Epoch 85/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2868 - accuracy: 0.8806
Epoch 86/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2811 - accuracy: 0.8861
Epoch 87/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2825 - accuracy: 0.8889
Epoch 88/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2821 - accuracy: 0.8889
Epoch 89/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2758 - accuracy: 0.8972
Epoch 90/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2795 - accuracy: 0.8917
Epoch 91/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2742 - accuracy: 0.9000
Epoch 92/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2737 - accuracy: 0.8889
Epoch 93/100
12/12 [==============================] - 0s 2ms/step - loss: 0.2744 - accuracy: 0.8861
Epoch 94/100
12/12 [==============================] - 0s 2ms/step - loss: 0.2725 - accuracy: 0.8944
Epoch 95/100
12/12 [==============================] - 0s 2ms/step - loss: 0.2727 - accuracy: 0.8944
Epoch 96/100
12/12 [==============================] - 0s 2ms/step - loss: 0.2720 - accuracy: 0.8972
Epoch 97/100
12/12 [==============================] - 0s 2ms/step - loss: 0.2687 - accuracy: 0.8972
Epoch 98/100
12/12 [==============================] - 0s 2ms/step - loss: 0.2736 - accuracy: 0.9000
Epoch 99/100
12/12 [==============================] - 0s 2ms/step - loss: 0.2690 - accuracy: 0.8917
Epoch 100/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2687 - accuracy: 0.8972

In [48]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

4/4 - 0s - loss: 0.6267 - accuracy: 0.7500 - 257ms/epoch - 64ms/step
Loss: 0.6267025470733643, Accuracy: 0.75

In [50]:
#Try Keras-tuner to improve the model

# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_2 = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','elu','tanh'])
    optimizer = hp.Choice('optimizer',['SGD','Adam'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_2.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=80,
        step=5), activation=activation, input_dim=20))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 10)):
        nn_2.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=80,
            step=5),
            activation=activation))
    
    nn_2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_2.compile(loss="binary_crossentropy", optimizer=optimizer, metrics=["accuracy"])
    
    return nn_2

In [51]:
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2)

In [52]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=50,validation_data=(X_test_scaled,y_test))

Trial 180 Complete [00h 00m 11s]
val_accuracy: 0.7666666507720947

Best val_accuracy So Far: 0.8083333373069763
Total elapsed time: 00h 14m 54s
INFO:tensorflow:Oracle triggered exit

In [13]:
#look for outliers
#start with applicant income

app_income = loan_df_numeric['ApplicantIncome']

quartiles = np.quantile(app_income,[.25,.75])
iqr = quartiles[1]-quartiles[0]
lower_bound = quartiles[0]-(1.5*iqr)
upper_bound = quartiles[1]+(1.5*iqr)
print (f"quartiles = {quartiles} & IQR = {iqr}")
print (f"lower bound = {lower_bound} & upper bound = {upper_bound}")

potential_outliers_app_income = [value for value in app_income if value < lower_bound or value > upper_bound]
potential_outliers_app_income

quartiles = [2898.75 5852.5 ] & IQR = 2953.75
lower bound = -1531.875 & upper bound = 10283.125

[12841,
 12500,
 11500,
 10750,
 11417,
 14583,
 10408,
 10513,
 14999,
 11757,
 14866,
 39999,
 33846,
 39147,
 12000,
 11000,
 16250,
 14683,
 11146,
 14583,
 20233,
 15000,
 19730,
 15759,
 81000,
 14880,
 10416,
 37719,
 16525,
 16667,
 10833,
 18333,
 17263,
 13262,
 17500,
 18165,
 19484,
 16666,
 16120,
 12000]

In [14]:
# Delete Rows with the Applicant Income outliers

loan_new1 = loan_df_numeric.drop(loan_df_numeric[loan_df_numeric['ApplicantIncome'] > 10283.125].index)

In [15]:
#look for outliers
#coapplicant income

co_app_income = loan_new1['CoapplicantIncome']

quartiles = np.quantile(co_app_income,[.25,.75])
iqr = quartiles[1]-quartiles[0]
lower_bound = quartiles[0]-(1.5*iqr)
upper_bound = quartiles[1]+(1.5*iqr)
print (f"quartiles = {quartiles} & IQR = {iqr}")
print (f"lower bound = {lower_bound} & upper bound = {upper_bound}")

potential_outliers_co_app_income = [value for value in co_app_income if value < lower_bound or value > upper_bound]
potential_outliers_co_app_income

quartiles = [   0.   2312.75] & IQR = 2312.75
lower bound = -3469.125 & upper bound = 5781.875

[8106.0,
 7210.0,
 8980.0,
 7750.0,
 11300.0,
 7250.0,
 7101.0,
 6250.0,
 7873.0,
 20000.0,
 20000.0,
 6666.0,
 7166.0,
 33837.0]

In [16]:
# Delete Rows with the Co-Applicant Income outliers

loan_new2 = loan_new1.drop(loan_new1[loan_new1['CoapplicantIncome'] > 5781.875].index)

In [17]:
# Look at Loan term value counts to potentially consolidate into bins

loan_new2['Loan_Amount_Term'].value_counts()

Loan_Amount_Term
360.0    364
180.0     30
480.0     12
300.0      8
120.0      3
84.0       3
60.0       2
240.0      2
36.0       2
Name: count, dtype: int64

In [18]:
# Consolidate all loans that are 120, 84, 60, 240, and 36 into an "other" group

# create list of loans to consolidate
term_consolidation = [120, 84, 60, 240, 36]

# Replace in dataframe
for term in term_consolidation:
    loan_new2['Loan_Amount_Term'] = loan_new2['Loan_Amount_Term'].replace(term,"Other")

# Check value_counts again
loan_new2['Loan_Amount_Term'].value_counts()

Loan_Amount_Term
360.0    364
180.0     30
Other     12
480.0     12
300.0      8
Name: count, dtype: int64

In [22]:
# Convert term data to numeric with `pd.get_dummies`

loan_new2_numeric = pd.get_dummies(loan_new2, 
                            columns=['Loan_Amount_Term'], dtype=int)

loan_new2_numeric.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,...,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status,Loan_Amount_Term_180.0,Loan_Amount_Term_300.0,Loan_Amount_Term_360.0,Loan_Amount_Term_480.0,Loan_Amount_Term_Other
1,4583,1508.0,128.0,1.0,0,1,0,1,0,1,...,0,1,0,0,0,0,0,1,0,0
2,3000,0.0,66.0,1.0,0,1,0,1,1,0,...,1,0,0,1,1,0,0,1,0,0
3,2583,2358.0,120.0,1.0,0,1,0,1,1,0,...,0,0,0,1,1,0,0,1,0,0
4,6000,0.0,141.0,1.0,0,1,1,0,1,0,...,0,0,0,1,1,0,0,1,0,0
5,5417,4196.0,267.0,1.0,0,1,0,1,0,0,...,1,0,0,1,1,0,0,1,0,0

In [37]:
# Split our preprocessed data into our features and target arrays
y2 = loan_new2_numeric['Loan_Status'].values
X2 = loan_new2_numeric.drop(columns='Loan_Status').values
print(X2.shape)

(426, 24)

In [38]:
# Split the preprocessed data into a training and testing dataset
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, random_state=42)

In [39]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X2_scaler = scaler.fit(X2_train)

# Scale the data
X2_train_scaled = X2_scaler.transform(X2_train)
X2_test_scaled = X2_scaler.transform(X2_test)

In [40]:
#Try Keras-tuner to improve the model

# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_2 = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','elu','tanh'])
    optimizer = hp.Choice('optimizer',['SGD','Adam'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_2.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=80,
        step=5), activation=activation, input_dim=24))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_2.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=80,
            step=5),
            activation=activation))
    
    nn_2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_2.compile(loss="binary_crossentropy", optimizer=optimizer, metrics=["accuracy"])
    
    return nn_2

In [41]:
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2)

INFO:tensorflow:Reloading Tuner from .\untitled_project\tuner0.json

In [42]:
# Run the kerastuner search for best hyperparameters
tuner.search(X2_train_scaled,y2_train,epochs=50,validation_data=(X2_test_scaled,y2_test))

Trial 174 Complete [00h 00m 08s]
val_accuracy: 0.7850467562675476

Best val_accuracy So Far: 0.822429895401001
Total elapsed time: 00h 12m 37s
INFO:tensorflow:Oracle triggered exit